/* Whole page style */

* {
  box-sizing: border-box;
}
body{
  margin: 0;
}
.container{ 
  
  text-align: center;
}


/* Nav Bar */

.nav{
  background-color: #BCE0FD;
  color: #e63946;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}


.nav ul {
  padding: 5px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}


.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  /* display:inline-block; */
   padding-left:50px;
  padding-right:50px;
}



.nav li:hover {
  background-color: white;
  opacity: .8;
}

.logo {
   
    width: 154px;
    height: 79px;
    /* margin: 10px 15px 15px 10px; */
    padding-top: 10px;
}

/* Home Page */
.herosection{
  
  height: 500px;
  position: relative;
}

.herosection img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
filter: saturate(1.6);
filter: blur(2px);
/* filter: contrast(1); */
border-radius: 0px 0px 0px 0px;

}

.herosection h1{
  position: absolute;
  background-color: #9f5c0946;
  border-radius: 10px 10px 0px 0px;
  padding: 60px 900px 210px 900px;
  color: #c2e9ff;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 100px;
}

.searchforanimal{
  position: absolute;
  bottom: 50px;
  background-color: #0277bb;
  width: 1000px;
  margin-left: 930px;
  margin-bottom: 20px;
  padding: 25px 25px 25px 0px;
  border-radius: 5px;
}

.searchforanimal input{
  margin-left: 10px;
  margin-right: 15px;
  border-radius: 6px;
  padding: 15px 0px 15px 20px;
  font-size: 15px;
}

.searchbutton{
  padding: 10px 15px;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 10px;
  height: 47px;
  width: 140px;
}

.searchbutton:hover{
  color: #f8fafb;
  background-color: #84c5fa;
}

.featuredbanner{
  background-color: #BCE0FD;
  height:max-content;
  padding: 20px;;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size:3vmax;
  margin-top: 1px;
}

.petimage img{
  position: relative;
  right:450px;
  top: 100px;
  height: 450px;
  filter: brightness(4px);
}

/* .favoritebutton img{
  position: relative;
  right: 200px;
  bottom: 400px;
  height: 80px;
} */

.peticon{
  position: absolute;
  bottom: 550px;
  left: 675px;
}

.peticon img{
  position: relative;
  height: 100px; 
}

.petdetails{
  position: absolute;
  background-color: #84c5fa;
  margin-left: 672px;
  margin-bottom: 100px;
  top: 1360px;
  width:599px;
}

.petdetails h1{
  font-size: 20px;
}


/* form */


/* .form {
display: flex;
flex-direction: column;
align-items: center;
}

.form-field {
width: 30%;
margin: 10px 0;
}

.form-input {
padding: 10px;
border-radius: 5px;
border: 1px solid #E63946;
font-size: 16px;
}

.form-button {
background-color: #E63946;
color: white;
padding: 10px 20px;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
} */



