Set global font family
    body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    --group-background-height: 100%;
    }

    .Groupspage{
    display: inline-block;
    width: 100%;
    }

    .Grouppagetitle { 
    font-size: 150%;
    margin-left: 45%;
    margin-bottom: 50px;
    font-weight: 500;
    color: rgb(4, 192, 249);
    }

    /* .ExploreGroupsbackground{
    display: flex;
    justify-content:first baseline;
    width:55%;
    margin-left: 20%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 10px 0 0 0;
    border-right: 1px solid black;
    } */

    /* .YourGroupssection{
    display: inline-block;
    height: var(--group-background-height);
    border-right: 1px solid black;
    } */

    /* .YourGroupssection h1{
    padding: 0px;
    display: inline-block;
    } */

    /* .YourgroupsTitlesection{
    padding-left: 30%;
    color: rgb(4, 192, 249);
    background-color: rgb(235, 233, 233);
    border-radius: 10px 0 0 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    } */

    /* .ExploreGroupssection{
    display: inline-block;
    } */

    /* .grouparea{
    display: flex;
    width: 100%;
    color: rgb(34, 121, 221);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-width: 1px;border-left: 1px solid black;
    } */

    /* .grouparea img{
    display: flex;
    justify-content: center;
    padding: 25px;
    width: 25%;
    } */

    /* .grouparea h2{
    display:grid;
    color: rgb(60, 69, 79);
    } */

    /* .Groupimagesection{
        display: contents;
        justify-content: center;
    } */

    /* .groupinfo{
    display: contents;
    justify-content: center;
    width: 100%;
    } */

    /* .followbuttonsection{
    display:flex;
    justify-content: center;
    padding: 25px;
    padding-top: 80px;
    height: 50%;
    color: blue;
    } */

    /* .followbuttonsection button{
    background-color: rgba(16, 19, 228, 0.859);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 27px;
    padding-right: 27px;
    border-color: aliceblue;
    border-style: none;
    } */
        