.bannergrouparea {
  display: flex;
  width: 100%;
  color: rgb(34, 121, 221);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-width: 1px;
  border-left: 1px solid black;
}

.bannergrouparea img {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 25%;
}
.bannerGroupimagesection {
  display: contents;
  justify-content: center;
}
.bannerGroupinfo {
  width: 100%;
  margin-top: 5%;
}
