.Groupspage {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  font-family: Arial, sans-serif;
}

.groupContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.YourGroupssection,
.ExploreGroupssection {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  box-sizing: border-box;
}

.YourgroupsTitlesection,
.ExploreGroupsTitlesection {
  text-align: center;
  color: rgb(4, 192, 249);
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.grouparea {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grouparea,
.bannergrouparea {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 33%;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}

.grouparea img,
.bannergrouparea img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  cursor: pointer;
  border-radius: 5px;
}

.groupNamesection,
.groupdescriptionsection,
.bannergroupNamesection {
  padding: 10px 20px;
}

.Name,
.bannerName {
  font-size: 18px;
  color: rgb(60, 69, 79);
  margin-bottom: 5px;
  font-weight: bold;
}

.Description {
  font-size: 14px;
  color: rgb(34, 121, 221);
  margin-bottom: 5px;
}

.followbuttonsection {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgba(16, 19, 228, 0.859);
  color: rgb(255, 255, 255);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.follow {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 7px 27px;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.follow:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.bannergrouparea {
  display: flex;
  width: 100%;
  color: rgb(34, 121, 221);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.bannergrouparea img {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 25%;
}

.bannerGroupimagesection {
  display: contents;
  justify-content: center;
}

.bannerGroupinfo {
  width: 100%;
  margin-top: 5%;
}
