/* Set global font family */
/* Set global font family */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5d7;
  margin: 0;
  padding: 0;
}

/* Hero section */
.hero-section {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 0 1rem 0;
}

.hero-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(1.6) blur(1px);
  border-radius: 0;
  z-index: -1;
}

.hero-section h1 {
  border-radius: 10px;
  padding: 1rem;
  color: #333333;
  margin: 0 auto;
  text-align: center;
  font-size: clamp(3rem, 10vw, 5rem);
  max-width: 90%;
  box-sizing: border-box;
  z-index: 1;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  max-width: 900px;
  margin-top: 2rem;
  background-color: rgba(51, 51, 51, 0.7);
  /* opacity: 0.8; */
  padding: 1rem;
}
.search-for-animal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
  max-width: 700px;
}
.home-input {
  margin: 1rem 1rem;
  border-radius: 6px;
  padding: 1rem 1.5rem;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  color: #333333;
}

.search-button {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin: 0 auto; /* Center the button horizontally */
  border: none;
  background-color: #ff7f50;
  color: #f8fafb;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.5rem);
  transition: 0.2s ease-in-out;
  text-align: center;
  margin-left: 1rem;
}

.search-button:hover {
  background-color: rgba(135, 206, 235);
}

/* Featured pets section */
.featured-section {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-banner {
  background-color: #87ceeb;
  padding: 2rem;
  border-radius: 8px;
  border: solid black 1px;
  margin: 1rem 0;
  color: black;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-banner .dog-icon {
  display: flex;
  max-width: 50px;
  margin: 1rem auto;
}

.featured-pet-image .pet-icon {
  margin-top: 20px;
}

/* PetCard */
.petcardcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 0.5rem;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  align-items: center;
}

.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(208, 15, 15, 0.851);
  transition: transform 0.2s ease-in-out;
  width: 100%;
  max-width: 400px;
}
.pet-card:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 2px rgba(135, 206, 235, 0.8);
}

.pet-card__image {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.pet-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-card__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.pet-card__name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.pet-card__breed {
  font-size: 16px;
  margin: 0;
}

.pet-card__gender {
  font-size: 16px;
  margin: 0;
}

.pet-card__location {
  font-size: 16px;
  margin: 0;
}

/* add styles to prevent overlapping */
@media (max-width: 768px) {
  .search-container {
    margin-top: 2rem;
  }

  .search-for-animal {
    padding: 20px;
  }
}

.petcardarea {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

/* Media Query if screen is bigger than 700 px */
@media (min-width: 700px) {
  .petcardcontainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  .featured-section {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  width: 100%;
  max-width: 300px;
}

.pet-card:hover {
  transform: translateY(-5px);
}

.pet-card__image {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.pet-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-card__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.pet-card__name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.pet-card__breed {
  font-size: 16px;
  margin: 0;
}

.pet-card__gender {
  font-size: 16px;
  margin: 0;
}

.pet-card__location {
  font-size: 16px;
  margin: 0;
}

/* divider */

.pet-details-about-divider {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 16px 0;
}
