/* Set global font family */
/* Set global font family */

:root {
  --gradient: linear-gradient(
    350deg,
    #036cfe,
    #039afe,
    #46affa,
    #00bae4e1,
    #00dce4f0,
    #00dce4f0,
    #00dce4f0,
    #00dce4f0
  );

  --benefit-image-size: 15rem;
  --content-outline-color:#7591E7;
  --content-background-color:white;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5d7;
  overflow-x: hidden;
  width: 100%;
  font-weight: lighter;
}

/* .hero-container-block{
  display: block;
} */

/* Redesign Section Starts Here */
.hero-container{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 8 1fr;
  position: relative;
  z-index: 1;
}

.hero-image{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  display: block;
  flex-direction: row;
  position: absolute;
  justify-content:center;
  align-items:center;
  padding: 0rem 0rem 0rem 0rem;
  background-image: linear-gradient(
    #a2dceac2,
    #a2dcea00,
    #a2dcea00,
    #b4e6f300,
    #b4e6f300,
    #b4e6f300,
    
    #98d5e100
  );
}



.Header {
  grid-column-start: 8;
  grid-column-end: 12;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content:center;
  align-items:center;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  top: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  /* color:blue; */
  color:#174cea;


  /* flex-direction: column; */
  /* position: absolute; */
  /* max-width: 60%; */
  /* z-index: 1; */
  /* top: 1%; */
  /* height: 100%; */
  /* padding-top: 1rem; */
  /* margin-top: 0%; */
  /* margin-right: 0%; */
  /* margin-bottom: 0%; */
  /* text-align: left; */
  
  /* box-sizing: border-box; */
  /* color: #3d1318; */
}

.paragraph{
  grid-column-start: 8;
  grid-column-end: 12;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content:center;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  top: 180px;
  /* color:#174cea; */

 
}

.button{
  grid-column-start: 8;
  grid-column-end: 12;
  display: flex;
  flex-direction: row;
  text-align: center;
  position: absolute;
  justify-content: center;
  align-items:center;
  top: 300px;
  /* margin-top: 40%; */
  padding: 1rem 0rem 1rem 0rem;
  
  /* border-radius: 10px; */
  border: none;
  /* background-color: #484abe; */
  /* color: #07a4f3; */
  cursor: pointer;
  font-size: clamp(1rem, 1.6vw, 3rem);
  transition: 0.2s ease-in-out;
}

.button:hover{
    background-color: rgb(195, 229, 243);
    color: #4169e1f4;
    outline: #4169e1f4;
    outline-width: 2.5px;
    outline-style: solid;
  
  
}

/* //MUI Image styling, Copying from styles below */
.newimg{  
  grid-column-start: 1;
  grid-column-end: 13;
  /* position:relative; */
  transform: scaleX(-1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit:cover;
  /* object-position: -40% 5%; */
  filter: saturate(1.2);
  border-radius: 0;
  z-index: -1;
  
}
/* Redesign Section Ends Here */
/* 
.hero-section {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 70vh;
  width: 100vw;
  display: flex;
  margin-top: 0%;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  position: relative;
  padding: 0rem 0rem 0rem 0rem;
  background-image: linear-gradient(
    #a2dcea,
    #a2dcea4b,
    #a2dcea00,
    #b4e6f300,
    #b4e6f300,
    #b4e6f300,
    #98d5e16e,
    #98d5e100
  );
} */

/* .hero-section img {
  position: absolute;
  transform: scaleX(-1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit:cover;
  object-position: -40% 5%;
  filter: saturate(1.2);
  border-radius: 0;
  z-index: -1;
} */

/* .hero-section-content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: right;
  align-items: right;
  padding-right: 10%;
  top: 1%;
  margin-right: 15%;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: stretch;
  padding-right: 10%;
} */
/* 
.hero-section-content-container {
  display: flex;
  margin-right: 10%;
  flex-direction: column;
  position: relative;
  justify-content:right;
  padding-left:5%;
  height: 100%;
  left: 54.2%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#adopt-color{
  display: contents;
  color: #174cea;
} */

/* .hero-section h1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 60%;
  z-index: 1;
  top: 1%;
  height: 100%;
  padding-top: 1rem;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  text-align: left;
  font-size: clamp(3rem, 6.5vw, 15rem);
  box-sizing: border-box;
  color: #0e1319;
  margin-left: 3%;
} */

/* .hero-section p {
  display:flex;
  flex-direction: column;
  position: absolute;
  justify-items:flex-end;

  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: clamp(3rem, 3vw, 15rem);
  bottom: 20%;

} */


/* 
.search-container {
  display: flex;
  flex-direction: column;
  position: absolute  ;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 3rem;

  top: 53%;
 
  padding-right: 8%;
} */

/* 
.search-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;

  padding: 1.5rem 1.5rem;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background-color: #174cea;
  color: #f8fafb;
  cursor: pointer;
  font-size: clamp(1rem, 1.6vw, 3rem);
  transition: 0.2s ease-in-out;
} */

/* 
.search-button:hover {
  background-color: rgb(195, 229, 243);

  color: #4169e1f4;
  outline: #4169e1f4;
  outline-width: 2.5px;
  outline-style: solid;
} */

.Featured-Content-wrapper{
  position: absolute;
  grid-column-start: 1;
  grid-column-end: 9;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 0% 0% 0% 0%; */
  background-color: #c5eef6;
  /* background-image: linear-gradient( #98d5e1,#98e4f4,#13c2e546,#a0e0edd7,#98d5e1d7,#3dceebcd, #1fc6f0e8,#1fa7f0c7); */
  
}

.Featured-content-area {
  position: absolute;
  border-radius: 10px;
  padding-left: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  /* justify-content: left; */
  /* background-image: linear-gradient( #98d5e1,#98e4f4,#13c2e546,#a0e0edd7,#98d5e1d7,#3dceebcd, #1fc6f0e8,#1fa7f0c7); */
  background-color: #c5eef6;
}


.featured-title {
  /* margin-left: 3%; */
  margin-right: 3%;
  display: block;
  position: relative;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 40%;
  color: #0e1319;
}

.featured-title h1 {
  /* margin-top: 10%; */
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 4rem;
  color: #011B68;

  
}

.featured-title p {
  margin-top: 5%;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  font-size: 2rem;
  font-weight: 350;
  color: #0F36AC;

  
}

.See-more-Pets-Button {
  position: absolute;
  padding: 1rem 1.5rem;
  margin: 25px 4px 3px 0px;
  text-align: center;
  border-radius: 10px;
  font-size: clamp(1rem, 2vw, 2rem);
  cursor: pointer;
  border: none;
  color: #f8fafb;
  background-color: #174cea;
  transition: 0.3s ease-in-out;
}

.See-more-Pets-Button:hover,
.See-more-Pets-Button:focus {
  border-width: 2px;
  background-color: rgb(195, 229, 243);
  color: #4169e1f4;
  outline-color: #4169e1;
  outline-style: solid;
  outline-width: 2.5px;
}

/* Featured pets section */
.featured-pets-section {
  flex-direction: column;
  padding: 0% 0% 0% 11%;
  justify-content: left;
  align-items: center;
  background-color: #cd683600;
}

/* PetCard */
.petcardcontainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  width: 100%;
  max-width: 100%;
  border-radius: 5%;
}

.pet-card {
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem 2rem 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border-top: 2px solid rgba(255, 255, 255, 0.876);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(0, 180, 200, 0.03);
  border-bottom: 2px solid rgb(0, 222, 247);
  box-shadow: 10px 10px 20px rgba(2, 104, 144, 0.8);
  background-color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
  width: 100%;
  max-width: 300px;
  max-height: 400px;
}

.pet-card:hover {
  transform: translateY(-5px);
  box-shadow: 35px 30px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.pet-card:hover .See-Pet-Profile {
  transform: translateY(0px);
  opacity: 1;
  cursor: pointer;
}


.pet-card__image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.pet-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-card__details {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  width: 100%;
  margin-top: 10px;
  color: #044293;
  /* color: rgb(0, 0, 0); */
  background-image: linear-gradient(
    #f7feff00,
    #03fefa00,
    #0dc9da00,
    #24b0d300,
    #03fefa06,
    #076df204,
    #076df200,
    #076df200
  );
}

.pet-card__details h1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
  color: #044293;
  position: relative;
  max-height: 180px;
}

.pet-card__name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.pet-card__breed {
  font-size: 16px;
  margin: 0;
}

.pet-card__gender {
  font-size: 16px;
  margin: 0;
}

.pet-card__location {
  font-size: 16px;
  margin: 0;
}

.See-Pet-Profile {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  margin-top: 0px;
  margin-left: 13%;
  padding-top: 0px;
  padding-bottom: 4px;
  top: 40%;
  font-size: 27px;
  border: 3px solid #044293;
  /* background-image: white; */
  background-image: linear-gradient(
    #fbfdfd,
    #fcfcfc,
    #fcfffff5,
    #fdfffff9,
    #fffffff5
  );
  border-radius: 25px;
  transition: 0.5s;
  color: #174cea;
  transform: translateY(20px);
  opacity: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.loading {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: auto;
  background-color: #cd683600;
  padding-top: 80px;
}

.Pagination-Button-Area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #edf9fd00;
  margin-top: 4%;
}

.pagination-button-1 {
  padding: 1rem 1.5rem;
  margin: 3px 4px 3px 4px;
  margin-left: 1rem;
  border-radius: 10px;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: #08288A;
  transition: 0.2s ease-in-out;
  width: fit-content;
}

.pagination-button-1:hover {
  background-color: rgb(195, 229, 243);
  color: #4169e1f4;
  outline-color: #4169e1;
  outline-style: solid;
  outline-width: 3px;
}

.pagination-button-2 {
  padding: 1rem 1.5rem;
  margin: 3px 6px 3px 4px;
  margin-left: 1rem;
  border-radius: 10px;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: #064789;
  transition: 0.3s ease-in-out;
}

.pagination-button-2:hover {
  background-color: rgb(195, 229, 243);
  color: #4169e1f4;
  outline-color: #4169e1;
  outline-style: solid;
  outline-width: 3px;
}

.pagination-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf9fd00;
  width: fit-content;
}

.Mission-statement-wrapper{
  position: absolute;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 4;
}

.Mission-statement {
  display: flex;
  justify-content: left;
  background: rgb(195, 229, 243);
  padding: 1%;
  padding-left: 0%;
  padding-right: 4%;
  padding-bottom: 4%;
  
  
}

.Mission-statement-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:#edf9fd;
  padding: 8% 8% 8% 8%;
}
.Mission-statement-text {
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: left;
  padding:  8% 8% 8% 8%;
  width: 100%;

  /* margin-left: 3%; */
}

.Mission-statement-text h2 {
  display: flex;
  justify-content: left;
  width: 100%;
  margin: auto;
  font-size: clamp(1rem, 3.5vw, 4rem);
  color: #011B68;
}

.Mission-statement-text p {
  display: inline-block;
  justify-content: left;
  margin-top: 1rem;
  width: 100%;
  font-size: clamp(1rem, 1.6vw, 2rem);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 350;
  color: #0F36AC;
}

.What-we-do-search-button {
  /* position : absolute; */
  padding: 1rem 1.5rem;
  margin: 25px 4px 3px 0px;
  text-align: center;
  justify-content: left;
  align-items: left;
  border-radius: 10px;
  font-size: clamp(1rem, 2vw, 2rem);
  cursor: pointer;
  border: none;
  color: #f8fafb;
  background-color: #174cea;
  transition: 0.3s ease-in-out;
}

.What-we-do-search-button:hover,
.What-we-do-search-button:focus {
  border-width: 2px;
  background-color: rgb(195, 229, 243);
  color: #4169e1f4;
  outline-color: #4169e1;
  outline-style: solid;
  outline-width: 3px;
}

.Benefit-Wrapper {
  position: absolute;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 3;
  padding: 7%;
  background-color: #6abef1;
}

.benefit-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
  color: #0e1319;
  background-color: #6abef1;
  text-align: center;
  width: 100%;
  /* display: flex; */
}


.benefit-banner .benefit-icon {
  display: inline-block;
  max-width: 40%;
  margin: 1rem auto;
  size: 80%;
}

.benefit p {
  display: flex;
  width: 95%;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 4%;
  padding: 1rem 1rem 1rem 1rem;
  color: white;
  /* margin-left: 5px; */
}


.benefit-2 img{
  width: var(--benefit-image-size);
  height: var(--benefit-image-size);
}


/* add styles to prevent overlapping */

