/* Set global font family */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:  #f8fafb;
  margin: 0;
  padding: 0;
}

/* Hero section */
.hero-section {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(1.6) blur(2px);
  border-radius: 0;
  z-index: -1; /*this is so the input fields will show */
  margin-bottom: 2rem;
}

.hero-section h1 {
  /* background-color: #BCE0FD; */
  border-radius: 10px;
  padding: 1rem;
  color: #c7ecee;
  margin: 0 auto;
  text-align: center;
  font-size: clamp(3rem, 10vw, 5rem);
  max-width: 1400px;
  box-sizing: border-box;
  z-index: 1;
}

/* Search for animal section */
/* .search-for-animal {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 50px;
  padding: 50px 0;
  background-color: #BCE0FD;
  width: 50%;
  max-width: 900px;
  border: solid black 1px;
} */

.search-container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.input {
  margin: 1rem 0;
  border-radius: 6px;
  padding: 1rem 1.5rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  width: 75%;
  max-width: 400px;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
}

.search-button {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  height: 57px;
  width: 140px;
  border: none;
  background-color: #2ecc71;
  color: #f8fafb;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.5rem);
  transition: background-color 0.2s ease-in-out;
  text-align: center;
}

.search-button:hover {
  background-color: #c7ecee;
}

/* Featured pets section */
.featured-section {
  background-color: white;
  padding: 2rem;
}

.featured-banner {
  background-color: #c2e9ff;
  padding: 2rem;
  border-radius: 8px;
  border: solid black 1px;
  margin: 2rem 0;
  color: #e63946;
  text-align: center;
}

.featured-pet-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  
}

.featured-pet-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pet-image img {
  height: 450px;
  filter: brightness(4px);
  width: 100%;
  object-fit: cover;
}
.featured-pet-image .pet-icon {
  margin-top: 20px;
}
.pet-image {
  position: relative;
}

.pet-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.pet-icon img {
  padding-top: 15px;
  height: 60px;
  position: relative;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}


/* add styles to prevent overlapping */
@media (max-width: 768px) {
  .search-container {
    margin-top: 2rem;
  }

  .search-for-animal {
    padding: 20px;
  }
}