.container {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border: 1px solid #ccc; /* Add border */
  border-radius: 10px; /* Add rounded corners */
  padding: 20px;
  width: 33vw;
  background-color: #6ac0ff;
}

.formInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.login-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ff7f50;
}

.formInputLogin[type="text"] {
  width: 300px;
  height: 40px;
  /* padding: 10px; */
  /* margin: 10px; */
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.formButton {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background-color: #ff7f50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.formButton:hover {
  background-color: #c2e9ff;
}
