.nav {

  /* background-color: #8AE3F6; */
  background-color: #A2DCEA;
  /* background-color: #4169e1c0; */
  /* background-image: linear-gradient( #4169e1c0,#4169e1c0,#A2DCEA); */
  color: #000000;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  /* top: 0;
  position: fixed;
  z-index: 100;
  width: 100%; */
  /* border-bottom: 1px solid black; */
  /* border-top: 1px solid black; */
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

/*For the logo area div*/
.nav a {
  color: #ffffffc0;
  text-decoration: none;
  display: flex;
  align-items: left;
  font-size: larger;
}

/* .nav li:hover { */
  /* background-color: #4169e1;
  border-bottom: #4169e1;
  opacity: 0.8; */
/* } */


/*For the tabs on the navbar*/
.nav ul li a{
  color: #ffffffc0;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.35rem;
  margin: 0 1rem;
  font-size: larger;
}

.nav ul li a:hover{
  color: #4169e1c0;
  text-decoration: underline;
  /* border-bottom: #4169e1; */
  text-decoration-color: #4169e1;
  text-underline-offset: 10px;
  opacity: 8;
}

.logo {
  display: flex;
  align-items: left;
  padding: 0;
  margin: 0;
  width:420px;
  height: 100px;
}
.signup-login {
  display: flex;
  align-items: center;
}

.signup-login .slash {
  margin: 0 0.05rem;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signup {
  margin-right: 0;
}

.login {
  margin-left: 0;
}