.pet-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f5f5f5;
}

.component-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  margin: 16px;
}

.pet-details-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.pet-details-header {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
}

.breed-age {
  font-size: 20px;
  margin-bottom: 16px;
}

.pet-details-para {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.adopt-button {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin: 0 auto; /* Center the button horizontally */
  border: none;
  background-color: #ff7f50;
  color: #f8fafb;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.5rem);
  transition: 0.2s ease-in-out;
  text-align: center;
}
